In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta
from collections import OrderedDict
import os
import csv

In [51]:
proxies = {'http': 'http://127.0.0.1:8001', 'https': 'http://127.0.0.1:8001'}

ticker_data1 = yf.download('AMZN', period='60d', interval='5m', proxy=proxies, auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [49]:
ticker_data1

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AMZN,AMZN,AMZN,AMZN,AMZN,AMZN
Datetime,,,,,,
2024-12-31 14:30:00+00:00,222.429993,222.429993,223.213593,221.929993,222.964996,1034845
2024-12-31 14:35:00+00:00,221.539993,221.539993,222.599899,221.479996,222.449997,346236
2024-12-31 14:40:00+00:00,221.240005,221.240005,221.809998,221.078995,221.574997,342379
2024-12-31 14:45:00+00:00,221.929993,221.929993,222.029999,221.139999,221.429993,362612
2024-12-31 14:50:00+00:00,221.970001,221.970001,222.020004,221.397507,221.899994,895396
...,...,...,...,...,...,...
2025-03-28 19:35:00+00:00,192.318497,192.318497,192.360001,192.080002,192.119995,623012
2025-03-28 19:40:00+00:00,192.314301,192.314301,192.350006,192.119995,192.320007,431148
2025-03-28 19:45:00+00:00,192.389496,192.389496,192.429993,192.110001,192.320007,468676
2025-03-28 19:50:00+00:00,192.770004,192.770004,192.869995,192.208801,192.429993,1016085
2025-03-28 19:55:00+00:00,192.639999,192.639999,192.979996,192.500107,192.779999,2511427

In [42]:

ticker_data2 = yf.download('AMZN', start='2025-02-01', end='2025-03-30',
                                  interval='5m', proxy=proxies, auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [43]:
ticker_data2

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AMZN,AMZN,AMZN,AMZN,AMZN,AMZN
Datetime,,,,,,
2025-02-03 14:30:00+00:00,236.033798,236.033798,236.479996,233.756302,234.059998,4537209
2025-02-03 14:35:00+00:00,237.899994,237.899994,238.300003,235.880005,236.080002,1167579
2025-02-03 14:40:00+00:00,237.309998,237.309998,237.929901,236.580002,237.869995,835272
2025-02-03 14:45:00+00:00,236.373993,236.373993,237.339996,235.740005,237.339996,678623
2025-02-03 14:50:00+00:00,236.270004,236.270004,237.220001,235.869995,236.709900,717666
...,...,...,...,...,...,...
2025-03-28 19:35:00+00:00,192.318497,192.318497,192.360001,192.080002,192.119995,623012
2025-03-28 19:40:00+00:00,192.314301,192.314301,192.350006,192.119995,192.320007,431148
2025-03-28 19:45:00+00:00,192.389496,192.389496,192.429993,192.110001,192.320007,468676
2025-03-28 19:50:00+00:00,192.770004,192.770004,192.869995,192.208801,192.429993,1016085
2025-03-28 19:55:00+00:00,192.639999,192.639999,192.979996,192.500107,192.779999,2511427

In [29]:
input_files = '/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331152015.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331151611.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331152108.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331152137.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331152218.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331151715.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331151852.csv'

In [30]:
import glob

def read_multiple_files(file_paths, sep='\t', index_col=False):
	file_path_result = []
	for ep in file_paths.split(','):
		file_path_result += glob.glob(ep)

	frames = []
	for file_path in file_path_result:
		df = pd.read_csv(file_path, sep=sep, index_col=index_col)
		frames.append(df)

	if len(frames) > 0:
		merged_df = pd.concat(frames, ignore_index=True)
		return merged_df
	return None

In [31]:
input_files

'/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331152015.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331151611.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331152108.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331152137.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331152218.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331151715.csv,/Users/liuda/Local/data/trading//data//stocks/ticker/history_5m/AMZN_20250331151852.csv'

In [32]:
df = read_multiple_files(input_files, sep=',')

,Datetime,Adj Close,Close,High,Low,Open,Volume
0,2025-02-24 14:30:00+00:00,216.019897,216.019897,217.714996,215.699997,217.516907,2600933
1,2025-02-24 14:30:00+00:00,216.019897,216.019897,217.714996,215.699997,217.516907,2600933
2,2025-02-24 14:30:00+00:00,216.019897,216.019897,217.714996,215.699997,217.516907,2600933
3,2025-02-24 14:30:00+00:00,216.019897,216.019897,217.714996,215.699997,217.516907,2600933
4,2025-02-24 14:30:00+00:00,216.019897,216.019897,217.714996,215.699997,217.516907,2600933
...,...,...,...,...,...,...,...
13645,2025-03-28 19:55:00+00:00,192.639999,192.639999,192.979996,192.500107,192.779999,2511427
13646,2025-03-28 19:55:00+00:00,192.639999,192.639999,192.979996,192.500107,192.779999,2511427
13647,2025-03-28 19:55:00+00:00,192.639999,192.639999,192.979996,192.500107,192.779999,2511427
13648,2025-03-28 19:55:00+00:00,192.639999,192.639999,192.979996,192.500107,192.779999,2511427
13649,2025-03-28 19:55:00+00:00,192.639999,192.639999,192.979996,192.500107,192.779999,2511427